@page "/blazorDemo"
@inherits BlazorDemoBase
<h1>
    Blazor Demo
    <i class="oi oi-pencil"></i>
</h1>
<hr />

<div>
    <b>
        Description:
    </b>
</div>
<div>
    <textarea rows="10" cols="50" @bind="Description"  style="resize:none" @bind:event="oninput">
    </textarea>
</div>
<div>
    <b>
        Total Characters count : @Description.Length.ToString()
    </b>
</div>