@page "/"
@inherits EmployeeListBase
<h3>Employee List</h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <div class="card mt-2" style="min-width:18rem;max-width:30.5%">
                <div class="card-header">
                    <h3>
                        @employee.FirstName @employee.LastName
                    </h3>
                </div>
                <img class="card-img-top imageThumbanail" src="@employee.PhotoPath" />
                <div class="card-footer text-center text-white">
                    <a class="btn btn-primary mt-1" href="@($"employeeDetails/{employee.EmployeeId}")">View</a>
                    <a class="btn btn-primary mt-1">Edit</a>
                    <a class="btn btn-danger mt-1">Delete</a>
                </div>
            </div>
        }


    </div>
}