
<h1 style="@CustomStyle">Grand Child Component - @CustomCounter</h1>

@code {
    [CascadingParameter(Name = "CustomStyle")]
    public string CustomStyle { get; set; }
    [CascadingParameter(Name = "CounterName")]
    public int CustomCounter { get; set; }
}
