@page "/pc"

<h3 class="display-4">
    Attribute Spilitting!<i class="oi oi-pencil"></i>
</h3>

<Child  Value="I am the Parent" someattribute="someattribute" required="required"
       placeholder="I am the Parent Component" maxsize="2" size="5" title="iamtuseTheProgrammer">

</Child>

@code {

    //[Parameter]
    //public Dictionary<string, object> ParentAttribute { get; set; }
    //= new Dictionary<string, object>()
    //    {
    //    {"required","required" },
    //    {"placeholder", "I am from the parent component" },
    //    {"maxsize", "5" },
    //    {"size", "10" },
    //    {"title", "Please hover over me, I am the Parent!" },

    //                };

}