@inherits DeleteConfirmationBase

@if (ShowConfirmation)
{
    <div class="modal show d-block" id="exampleModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      @ConfirmationTitle
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @onclick="() => OnConfirmationChanged(false)">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    @ConfirmationMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                            @onclick="() => OnConfirmationChanged(true)" >Delete</button>
                    <button type="button" class="btn btn-outline-primary" @onclick="() => OnConfirmationChanged(false)">
                    Cancel</button>
                </div>
            </div>
        </div>
    </div>
}